body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
}
#u254_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background-image:none;
}
#u254_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:12px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:570px;
  width:337px;
  height:12px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:94px;
  width:109px;
  height:18px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u261_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:1188px;
  background-image:none;
}
#u261_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1188px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1188px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:586px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:252px;
  width:46px;
  height:18px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:592px;
  width:360px;
  height:48px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:592px;
  width:58px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:3px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:360px;
  height:3px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:592px;
  width:61px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:929px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:401px;
  height:929px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:456px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:592px;
  width:67px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:592px;
  width:74px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
